<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>서울시 중개업체 검색기</title>
</head>
<body>

  <h1>서울시 중개업체 검색기</h1>


  <!-- api key : 574345677664646b31303243637a7778 -->
  <br>


  <div>
    <label for="searchCggCd">구명: </label>
    <input type="text" id="searchCggCd" placeholder="구명을 입력하세요">
    <label for="searchBzmnConm">업체명: </label>
    <input type="text" id="searchBzmnConm" placeholder="업체명을 입력하세요">
    <label for="searchMdtBsnsNm">개업공인중개사명: </label>
    <input type="text" id="searchMdtBsnsNm" placeholder="개업공인중개사명을 입력하세요">
    <button onclick="filterData()">검색</button>
</div>

  <!-- http://openapi.seoul.go.kr:8088/574345677664646b31303243637a7778/json/landBizInfo/1/100/ -->

</body>
</html>